{% extends 'base.html' %}

{% block title %}About Us{% endblock %}

{% block content %}
      <div class="container pb-4">
            <div class="flex-items-center text-center py-5">
                  <h3 class="bebas-neue-regular text black text-6xl">About BestB&B</h3><br>
                  <p class="bebas-neue-regular text-black text-2xl px-28 py-5 leading-relaxed tracking-wider">
                        Welcome to BestB&B, where comfort meets convenience for an unforgettable stay. Our mission is to provide guests with a warm, welcoming experience in carefully curated, 
                        cozy spaces designed to feel like home. Whether you're here for a relaxing getaway, a family vacation, or a business trip, we offer a variety of charming properties 
                        tailored to meet your needs. With exceptional service, attention to detail, and a commitment to making your stay as comfortable as possible, BestB&B ensures you leave with 
                        cherished memories and a desire to return. Come experience the best in home-away-from-home hospitality!
                  </p>
            </div>
      </div>
{% endblock %}