{% extends 'base.html' %}

{% block title %}Disclaimer{% endblock %}

{% block content %}
      <div class="container pb-4">
            <div class="flex-items-center text-center py-5">
                  <h3 class="bebas-neue-regular text-black text-6xl">Disclaimer</h3><br>
                  <p class="bebas-neue-regular text-black text-2xl px-28 py-5 leading-relaxed tracking-wider">
                        This website is a simulated representation created solely for demonstration and illustrative purposes. 
                        It is not affiliated with or endorsed by any real company or organization. 
                        Any resemblance to real websites, products, or services is purely coincidental. 
                        Visitors are advised that the information and content provided on this website may not be accurate, 
                        up-to-date, or reliable. We do not accept any responsibility for any actions taken based on the information provided on this website. 
                        Users should exercise caution and verify information independently before making any decisions or taking any actions. 
                        Use of this website is at your own risk, and we disclaim any liability for damages arising from its use.
                  </p>
            </div>
      </div>
{% endblock %}