{% extends 'base.html' %}

{% block title %}Privacy{% endblock %}

{% block content %}
   <div class="container">
      <div class="flex-items-center text-center py-5">
         <h3 class="bebas-neue-regular text-6xl">Privacy Policy</h3><br>
         <p class="bebas-neue-regular text-black text-2xl px-28 py-5 leading-relaxed tracking-wider">
            Information We Collect:
            <br>
            We may collect personal information such as your name, email address, phone number, and postal address when voluntarily submitted by you.
            We may also collect non-personal information automatically, such as your IP address, browser type, operating system, and usage details through cookies and similar technologies.
            <br>
            <br>
            How We Use Your Information:
            <br>
            <br>
            We use the information we collect to provide and improve our services, respond to your inquiries, process transactions, and personalize your experience.
            Your information may also be used to send periodic emails regarding your order or other products and services.
            <br>
            <br>
            Disclosure of Information:
            <br>
            <br>
            We do not sell, trade, or otherwise transfer your personal information to outside parties without your consent, except as required by law or to fulfill a service request initiated by you.
            We may share your information with trusted third parties who assist us in operating our website, conducting our business, or servicing you, provided that these parties agree to keep your information confidential.
            <br>
            <br>
            Data Security:
            <br>
            <br>
            We implement a variety of security measures to maintain the safety of your personal information when you place an order or enter, submit, or access your personal information.
            <br>
            <br>
            Your Consent:
            <br>
            <br>
            By using our website, you consent to our Privacy Policy.
            <br>
            <br>
            Changes to This Privacy Policy:
            <br>
            <br>
            JUN reserves the right to modify or update this Privacy Policy at any time. We encourage you to review this Privacy Policy periodically for any changes.
         </p>
      </div>
      <div class="flex-items-center text-center py-5">
            
      </div>
   </div>
{% endblock %}